@import url('style.css');

.asideContent form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.séparation{
    height: 0;
    border-top: var(--color3) solid 1px;
    box-shadow: 0 0 1px var(--color3);
}
.asideCategorie{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 239px;
    height: 48px;
    background-color: var(--color3);
    border-radius: 10px;
    gap: 10px;
}
.categorieArticle, .categorieProblème{
    display: flex;
    justify-content: center;
    align-items: center ;
    width: 109.98px;
    height: 40px;
    border-radius: 7px;
}
.labelArticle, .labelProblème{
    width: 109.98px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center ;
    border-radius: 7px;
    color: var(--text-color);
}
.selectionné{
    background-color: var(--primary-color);
}
.discoverHead{
    display: flex;
    justify-content: space-between;
    align-items: center ;
    margin-bottom: 10px;    
}
.discoverContent {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.discoverRadio{
    display: flex;
    align-items: center;
    gap: 15px;
    width: 239px;
    height: 46px;;
}
.discoverRadio label{
    color: var(--text-color);
}
.discoverRadio input[type="checkbox"]:checked + label {
    background-color: var(--primary-color); 
    color: white;
    border-radius: 5px;
    padding: 5px; 
}
.discoverRadio.selected img {
    filter: brightness(0) invert(1); 
}
.validerFiltre{
    padding: 10px 20px;
    background-color: var(--accent-color);
    border-style: none;
    border-radius: 20px;
}
.asideFoot{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px auto;
    width: 150;
    height: 45px;
    background-color: rgb(197, 48, 48);
    border-radius: 10px;
}
.asideFoot a{
    color: white;
    text-transform: capitalize;
}
